<div class="app">
  <header>
    <h1>StrengthTrack</h1>
  </header>

  <body>
    <!-- Modal of Clint Session Informations -->
    <div *ngIf="isClientSessionsInformationModalOpen">
      <div class="overlay" (click)="closeClientSessionsInformationModal()"></div>
      <div class="modal">
        <div class="graphic">
          <canvas baseChart
            [type]="clientSessionsChartType"  
            [legend]="clientSessionsChartLegend"
            [data]="clientSessionsChartData">
          </canvas>
         </div>

        <table mat-table [dataSource]="clientSessionsDataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef> Número </th>
            <td mat-cell *matCellDef="let element"> {{element.number}} </td>
          </ng-container>
          
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>

          <ng-container matColumnDef="averageResult">
            <th mat-header-cell *matHeaderCellDef> Resultado Médio </th>
            <td mat-cell *matCellDef="let element"> {{element.averageResult}} </td>
          </ng-container>
          
          <ng-container matColumnDef="results">
            <th mat-header-cell *matHeaderCellDef> Resultados </th>
            <td mat-cell *matCellDef="let element"> {{element.results}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="clientSessionsDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: clientSessionsDisplayedColumns;"></tr>
        </table>
      </div>
    </div>    

    <!-- Modal of Client Creation  -->
    <div *ngIf="isClientInformationModalOpen">
      <div class="overlay" (click)="closeClientInformationModal()"></div>
      <div class="modal modal-small">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome" [formControl]="modalClientInformation.clientName">
        </mat-form-field>

        <mat-form-field>
          <mat-label>CPF</mat-label>
          <input matInput placeholder="CPF" [formControl]="modalClientInformation.clientCpf">
        </mat-form-field>

        <button class="btn-action-client btn-long center" (click)="saveClient()"><mat-icon>save</mat-icon></button>
      </div>
    </div>

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <!-- Dashboard Tab -->
      <mat-tab label="DASHBOARD">        
        <div class="dashboard-information">
          <p class="value">{{ dashboardAverages.averageForce }}</p>
          <label>Força Média</label>
        </div>

        <div class="dashboard-information">
          <p class="value">{{ dashboardAverages.averageSessions.toFixed(1) }}</p>
          <label>Nº Médio de Sessões</label>
        </div>

        <table mat-table [dataSource]="dashboardDataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          
          <ng-container matColumnDef="cpf">
            <th mat-header-cell *matHeaderCellDef> CPF </th>
            <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Sessões </th>
            <td mat-cell *matCellDef="let element"> <button class="btn" type="button" (click)="openClientSessionsInformationModal(element.id)"><mat-icon>dashboard</mat-icon></button> </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="dashboardDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: dashboardDisplayedColumns;"></tr>
        </table>        
      </mat-tab>

      <!-- Measurement Tab -->
      <mat-tab label="MEDIÇÃO">
        <div class="user-select">
          <form>
            <mat-form-field>
              <mat-label>Cliente</mat-label>
              <input type="text"
                     placeholder="Selecione..."
                     aria-label="Number"
                     matInput
                     [formControl]="searchClientControl"
                     [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectClient($event.option)">
                @for (option of searchClientFilteredOptions | async; track option) {
                  <mat-option [value]="option.id">{{option.value}}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </form>
  
          <button class="btn-action-client" type="button" (click)="editClient()" [disabled]="!searchClientControl.value"><mat-icon>edit</mat-icon></button>
          <button class="btn-action-client" type="button" (click)="createClient()" [disabled]="!!searchClientControl.value"><mat-icon>add</mat-icon></button>
        </div>

        <div>
          <h2>Medição</h2>
          <button class="btn-primary" type="button" (click)="startMeasure()" [disabled]="isMeasuring || !searchClientControl.value.length">Iniciar</button>
          <button class="btn-primary" type="button" (click)="stopMeasure()" [disabled]="!isMeasuring || !searchClientControl.value.length">Parar</button>
        </div>

        <div class="measure-results">
          <mat-progress-bar *ngIf="isMeasuring" mode="indeterminate"></mat-progress-bar>

          <table mat-table [dataSource]="measureDataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef> Nº </th>
              <td mat-cell *matCellDef="let element"> {{element.number}} </td>
            </ng-container>
            
            <ng-container matColumnDef="force">
              <th mat-header-cell *matHeaderCellDef> Força </th>
              <td mat-cell *matCellDef="let element"> {{element.force}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="measureDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: measureDisplayedColumns;"></tr>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </body>

  <footer>
    <p>Internet das Coisas | Grupo: Igor Bartmann, ... | 2024</p>
  </footer>
</div>